
[Unit]
Description=Peek Office Service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=peek
ExecStart=#PEEK_DIR#/run_peek_office_service
Environment="LD_LIBRARY_PATH=#PEEK_HOME#/opt/lib"
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
