
[Unit]
Description=Peek Field Service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=peek
ExecStart=#PEEK_DIR#/run_peek_field_service
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
