
[Unit]
Description=Peek Worker
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=peek
ExecStart=run_peel_worker > /dev/null 2>&1

[Install]
WantedBy=multi-user.target
